*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* inizio css header */
    .header_top{
        margin-top: 2rem;
        margin-left: 1rem;

        color: #00b0d9;
    }

    .header_button{
        background-color: #00b0d9;
       
        padding: 1rem;

        text-align: center;

        color: #fff;

        text-transform: uppercase;
    }
/* fine css header */

/* inizio css main */
    main{
        background-color: #dcdcdc;
        height: 1000px; /*provvisorio*/
    }

    .container{
        max-width: 1200px;
        
        margin: 0 auto;       

        padding: 1rem;
    }

    #icons_container{
        display: flex;
        flex-wrap: wrap;
    }

    .box{
        flex-basis: calc(100% /5 - 40px);
        height: 150px;

        box-shadow: 1rem 0 2rem 0 #000;
        border-radius: 1rem;

        background-color: #f5f5f5;

        margin: 40px 20px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box > i{
        font-size: 4rem;
    }

    .box > .text{
        font-size: 0.8rem;
        text-transform: uppercase;

        margin-top: 1rem;
    }
/* fine css main */
